<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
  
      <div class="col-xl-10 col-lg-12 col-md-9">
  
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"> <img src="../../../assets/img/foto.jpg" class="img-fluid" alt="Responsive image"> </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">ESTA ES UNA PRUEBA44!!</h1>
                  </div>
                  <form class="user">
                    <img src="../../../assets/img/home.png" class="img-fluid" alt="Responsive image">
                  </form>
                  <hr>
                  
                  
                  <div class="card border-dark mb-6"  >
                      <div class="card-body">
                        <div class="text-nowrap bd-highlight" style="width: 18rem;">
                            Steven Aaron Sis Hernandez
                            201706357
                          </div>
                          <hr>
                          <div class="text-nowrap bd-highlight" style="width: 18rem;">
                            Jesús Alejandro Mansilla Villatoro
                            201709396
                          </div>
                      </div>
                  </div>
                  
                 
                
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>
